<<<<<<< HEAD
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.center-text {
    text-align:center;
}
=======
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.center-text {
    text-align:center;
}
>>>>>>> 0cac22b5ee075baa90a28451b4fdd22fb5914229
